---
layout: default
---

<div class="parallax-container" style="height: 300px;">
  <div class="parallax">
    <img class="materialboxed" data-caption="© Vincent Guth" src="https://unsplash.com/photos/62V7ntlKgL8/download?force=true">
  </div>
</div>

<div class="row">
  <div class="col s12">
  {% for post in paginator.posts %}
    {% include post_card.html %}
  {% endfor %}
  </div>

  <div class="col s12">
    {% include paginate.html %}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.parallax').parallax();
    $('main').prepend($('.parallax-container'));
  });
</script>
