---
layout: default
permalink: /
---

<div class="row s12">
  {% for post in site.posts %}
  <article>
    <div class="card">
      {% if post.image.src %}
      <div class="card-image">
        <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.src }}">
        <span class="card-title">{{ post.title }}</span>
      </div>
      <div class="card-content">
        <p style="font-weight: 600; margin-bottom: 10px;">{{ post.date | date_to_string }}</p>
        <p>{{ post.excerpt | truncate: 100, "…" }}</p>
        <br>
        <div class="chip">
          <img src="https://github.com/{{ post.author }}.png" alt="Avatar">
          <a href="https://github.com/{{ post.author }}" style="color: rgba(0,0,0,0.6);">{{ site.data.members | where: "github", post.author | first | first | last }}</a>
        </div>
        {% for tag in post.tags %}
          <div class="chip">{{ tag }}</div>
        {% endfor %}
      </div>
      {% else %}
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p style="font-weight: 600; margin-bottom: 10px;">{{ post.date | date_to_string }}</p>
        <p>{{ post.excerpt | truncate: 100, "…" }}</p>
        <br>
        <div class="chip">
          <img src="https://github.com/{{ post.author }}.png" alt="Avatar">
          <a href="https://github.com/{{ post.author }}" style="color: rgba(0,0,0,0.6);">{{ site.data.members | where: "github", post.author | first | first | last }}</a>
        </div>
        {% for tag in post.tags %}
          <div class="chip">{{ tag }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="card-action">
        <a class="pink-text text-accent-2" href="{{ post.url }}">More</a>
      </div>
    </div>
  </article>
  {% endfor %}
</div>
