<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Do IT</h5>
      <p class="grey-text text-lighten-4">The Programming Study Group</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://github.com/D01T">Github</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Telegram</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    © 2017 Do IT. All rights reserved.
    <div class="right">
      <span class="white-text" style="font-weight: 400; margin-right: 5px;">View on</span><a class="fa fa-github fa-lg white-text" href="https://github.com/D01T/D01T.github.io"></a>
    </div>
  </div>
</div>
