---
layout: default
---

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <article>
          <div class="card">
            {% if page.image.src %}
            <div class="card-image">
              <img class="materialboxed" data-caption="© {{ page.image.copyright }}" src="{{ page.image.src }}">
              <span class="card-title">{{ page.title }}</span>
            </div>
            {% endif %}
            <div class="card-content">
              {% unless page.image.src %}
              <span class="card-title">{{ page.title }}</span>
              {% endunless %}
              <p style="font-weight: 600; margin-bottom: 10px;">{{ page.date | date_to_string }}</p>
              <p>{{ content | replace: "<img", "<img class='materialboxed'" }}</p>
              <div class="divider" style="margin: 16px 0;"></div>
              <div class="chip">
                <img src="https://github.com/{{ page.author }}.png" alt="Avatar">
                <a href="https://github.com/{{ page.author }}" style="color: rgba(0,0,0,0.6);">{{ site.data.members | where: "github", page.author | first | first | last }}</a>
              </div>
              {% for tag in page.tags %}
                <div class="chip">{{ tag }}</div>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>
      <div class="col s12">
        {% if page.previous %}
        <div class="left">
          <a class="btn-floating waves-effect waves-light white" href="{{ page.previous }}"><i class="material-icons" style="color: rgba(0,0,0,.87);">arrow_back</i></a>
          <span style="color: rgba(0,0,0,.87); margin-left: 16px;">Newer</span>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="right">
          <span style="color: rgba(0,0,0,.87); margin-right: 16px;">Older</span>
          <a class="btn-floating waves-effect waves-light white" href="{{ page.next }}"><i class="material-icons" style="color: rgba(0,0,0,.87);">arrow_forward</i></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
